/* body {
    background-color: pink;
} */

body {
    font-family: 'Roboto', sans-serif;
}

h1{
    text-align: center;
}

h1, h2 {
    color: #00796b;
    font-style: italic;
    text-decoration: underline;
    font-weight: normal;
}

.p {
    text-align: justify;
    font-size: 14px;
    line-height: 9px;
}