@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Saira+Semi+Condensed:wght@500&display=swap');

body{
    background-color: grey;
    font-family: Arial;
    padding: 20px;
}

h1, h4{
    font-family: 'Saira Semi Condensed', sans-serif;
}

h1{
    text-align: center;
}

form{
    font-family: 'Noto Sans', sans-serif;
}

textarea{
    resize: vertical;
}

button:hover{
    background-color: burlywood;
    font-size: medium;
    border-radius: 10px;
}