@import url('https://fonts.googleapis.com/css2?family=Baloo+Chettan+2&display=swap');
*{box-sizing: border-box;
    background-color: antiquewhite;
    font-family: 'Baloo Chettan 2', cursive;}

    body {
        text-align: center;
        color: black;
    }

    .cv{
        align-items: center;
        /* display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: blue;
        border: none;
        text-align: justify;
        padding: 30px;
        margin: 5px auto;
        vertical-align: top; */
    }

    header.cv{
        position: fixed;
        display: block;
        border-bottom: 2px solid black;
        box-shadow: 0 2px 5px grey;
        text-align: center;
        top: 0;
        padding: 0;
        width: 100vw;
        height: 100px;
        z-index: 2;
    }

    

    header, footer, nav, section {
        border: 5px dotted black;
        text-align: justify;
        padding: 30px;
        margin: 5px auto;
        vertical-align: top;
    }

    header, footer {
        width: 960px;
        /* height: 100px; */
        line-height: 71px;
        text-align: center;
    }

   footer.cv {       
       text-align: center;
       display: block;
       position: relative;
       height: 50px;
       top: 0;
       padding: 0;
    /* line-height: 71px; */
       width: 100vw;
       border: solid black;
    }
    
    nav, section {
        height: 600px;
        display: inline-block;
    }

    .hobbies{
        height: 800px;
        display: inline-block;
    }

    img{
        position: absolute;
        padding: 0;
        margin-left: -10px;
        width: 250px;
        height: 350px;    
    }

    video{
        width: 590px;
    }

    audio{
        width: 150px;
        padding-bottom: 20px;
    }


    .rede_social{
        position: relative;
        display: inline-block;
        padding: 0;
        margin: auto;
        width: 50px;
        height: 50px;
    }

    .atividades{
        position: relative;
        display: inline-block;
        padding: 0;
        margin: auto;
        width: 50px;
        height: 50px;
    }

    .favoritos{
        text-align: center;
        height: 800px;
    }

    ol{
        list-style: none;
    }

    ul{
        list-style: none;
        padding-left: 0;
    }
    
    nav {
        width: 300px;
        padding-top: 0;
    }
    
    section {
        width: 660px;
        padding-top: 0;
    }

    /* nav.cv {
        display: flex;
        flex-direction: column;
        background-color: yellow;
        display: inline-block;
        padding-top: 0;
    } */
    
    section.cv {
        width: 450px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        background-color: green;
        position: relative;
    }