body {
    background-color: whitesmoke;
    font-family: 'Roboto', sans-serif;
    padding: 20px;
    width: 960px;
    border-style: dotted
}

nav{
    background-color: gray;
}

h1{
    text-align: center;
}

h1, h2 {
    color: #00796b;
    font-style: italic;
    text-decoration: underline;
    font-weight: normal;
}

.p {
    text-align: justify;
    font-size: 14px;
    line-height: 9px;
}

footer{
    text-align: center;
    font-style: italic;
}